# Data
*.csv
*.png

**/_debug/*
**/debug_failed/*

!data/
!data/**/
!.gitkeep
!locations.csv
!data/samples/*


# Models & embeddings
models/*.pkl
embeddings/

# Python
__pycache__/
*.pyc
.venv/
env/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS & IDE
.DS_Store
.vscode/