# Data
*.csv
*.png
!data/
!data/**/
!.gitkeep

# Models & embeddings
models/*.pkl
models/*.joblib
embeddings/

# Python
__pycache__/
*.pyc
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS & IDE
.DS_Store
.vscode/

# Progress tracking
idea/