header {
    visibility: hidden;
}
footer {
    visibility: hidden;
}

.stApp {
    background: linear-gradient(
        180deg,
        #0f172a 0%,
        #334e68 60%,
        #cfe8f3 100%
    );
    padding-top: 0;
}

.block-container {
    margin-top: 4rem;
    margin-bottom: 4rem;

    margin-left: 4rem;
    margin-right: 4rem;

    padding-top: 0rem;
    padding-bottom: 2.5rem;

    padding-left: 2rem;
    padding-right: 2rem;

    max-width: 1000px;

    border-radius: 24px;
    background: rgba(238, 242, 255, 0.9);
}

h1 {
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
}

h3 {
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-align: center;
}

.custom-footer {
    text-align: center;
    padding: 1rem;
    color: #888;
    font-size: 0.85rem;
}